*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.html{
    scroll-behavior: smooth;
}

body{
    display: grid;
    grid-template:
    'main'100vh
    'coll'100vh
    'about'100vh
    'contact'100vh
    'footer'10vh/
    100%
    
    
    ;

}
.main{
    grid-area: main;
    display: grid;
    grid-template: 
    'header header'80px
    'first first'100%/
    50% 50%
    
    
    
    ;
background-image: url(./assets/dark-blue-abstract-background-blue-lines-background-material-design-stylish-blue-background-besthqwallpapers.com-1600x1200.jpg);
}
.header{
    grid-area: header;
    width: 100%;
    background-color: #05176D;
    background: linear-gradient(90deg, rgba(131,43,179,1) 0%, rgba(81,40,157,1) 50%, rgba(62,44,166,1) 100%);
  
    
    
    display: grid;
    grid-auto-flow: column;
    filter: blur(0.5px);

}

.first{
    
    grid-area: first;
    display: grid;
   grid-template:
   'leftpart rightpart'100%/
   40% 50% ;

   
}
.leftpart{
    grid-area: leftpart;
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
    margin-left: 20%;
  
}
.lefth1{
    font-family: 'Propaganda', sans-serif;
    color: #ffff;
    font-size: 30px;
    margin-top: 20%;
    margin-bottom: 1%;

}
.leftp{
    font-family: 'Propaganda', sans-serif;
    color: rgb(169, 169, 169);
    font-size: 20px;
}
.signup{
    font-family: 'Propaganda', sans-serif;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    width: 30%;
    height: 10%;
    margin-bottom: 60%;
    border-radius: 20px;
    border: none;
    background: rgb(96,192,219);
    background: linear-gradient(90deg, rgba(96,192,219,1) 0%, rgba(255,98,246,1) 50%, rgba(197,76,72,1) 100%);
    
}
.signup:hover{
    box-shadow: 2px 3px 6px rgb(88, 129, 204);

}
.rightpart{
    grid-area: rightpart;
}
.headerimg{
    display: block;
    margin-left: 40%;
    margin-right: 60%;
    width: 70%;

    
}

.logo{
    font-family: 'Propaganda', sans-serif;
    color: #ffff;
    font-size: 40px;
    padding-left: 10%;
    
}
.navbar{
    display: grid;
    align-content: center;
}

.navbar ul{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
}

.navbar li{ 
    font-family:'Propaganda', sans-serif;
}
.navbar li a{
    color: #ffff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
.navbar li a:hover{
    color: rgb(153, 148, 148);

}
.collection{
grid-area: coll;
/* background-color: #ffffff; */
display: grid;
grid-template:
' collheader '90px
' cards' 100vh/
    100%

}
.collheader{
    grid-area: collheader;
    background: rgb(82,41,159);
    background: linear-gradient(90deg, rgba(82,41,159,1) 0%, rgba(78,45,174,1) 50%, rgba(66,45,176,1) 100%);
    
    place-content: center;
    width: 50%;
    border-radius: 20px;
    display: grid;
    grid-auto-flow: column;
    justify-self: center;
    text-align: center;
    margin-top: 2%;
    
    

}
.collh1{
    font-family: 'Propaganda', sans-serif;
    color: #ffffff;
    
}
.cards{
    grid-area: cards;
    /* background-color: #05176D; */
    width: 90%;
    margin-left: 5%; 
    margin-right: 5%;
    
    
    display: grid;
    grid-auto-flow: column;
  

    
    
}

.cardc{
    border: none;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    border-radius: 20px;
    height: 500px;
    width: 400px;
    margin-top: 5%;
    background-color: #05176D;
    
    
    display: grid;
    align-content: center;
    justify-content: center;
   
    grid-template: 
    'cardimage'80%
    'cardtext'10%
    'cardbtn'10%/
    100%
;
}
.cardc:hover{
    box-shadow: 0px 10px 30px #000;

}
.cardimage{
    grid-area: cardimage;

}
.cardtext{
    grid-area: cardtext;
    text-align: center;
    font-family: 'Propaganda', sans-serif;
    font-size: 20px;
    color: #ffffff;
}
.imgc1{
    border-radius: 20px;
    display: block;
    
    width: 100%;
    height: 100%;
}
.cardbtn{
    grid-area: cardbtn;
    text-align: center;
    
}
.button{
    border: none;
    border-radius: 20px;
    background: rgb(96,192,219);
    background: linear-gradient(90deg, rgba(96,192,219,1) 0%, rgba(255,98,246,1) 50%, rgba(197,76,72,1) 100%);
    width: 40%;
    height: 40px;
    
    font-family:'Propaganda', sans-serif; ;
}
.button a{
    text-decoration: none;
    color: #ffffff;
}
.about{
    grid-area: about;
    background-color: #204bb1;
    display: grid;
    grid-template:
    'collheader collheader'90px
    'paragraph members'87vh/
    40% 60%;
    column-gap: 5%;

}
.collheader{
    width: 50%;
}
.paragraph{
    grid-area: paragraph;
    /* background-color: cornflowerblue; */
    display: grid;
    margin-top: 20%;
    /* grid-auto-flow: row; */
    /* place-content: center; */
    text-align: center;
    width: 100%;
    height: 50%;
    font-family: 'Propaganda', sans-serif;
    color: #ffffff;
}

.rightabout{
    display: grid;
    grid-template: 
    'memberheader'20px
    'members'auto/
    100%;
}
.memberscard{
    margin-top:10% ;
    width: 80%;
    height:80%;
    grid-area: members;
    display: grid;
    grid-auto-flow: column;
    
    
   
    
}
.memberone{
    display: grid;
    grid-template: 
    'mimg'auto
    'name'auto
    'context' auto/
    100%;
    border:none;
    border-radius: 20px;
    background-color: #EFEFEF;
    width: 220px;
    height: 300px;
}
.membertwo{
    grid-area: membertwo;
    display: grid;
    grid-template: 
    'mimg'auto
    'name'auto
    'context' auto/
    100%;
    border:none;
    border-radius: 20px;
    background-color: #EFEFEF;
    width: 220px;
    height: 300px;
    
}
.memberimg{
    grid-area: mimg;
    display: block;
    margin-left: 4%;
  

}
.memberimg1{
    grid-area: mimg;
    display: block;
    margin-left: 4%;
  

}
.memberimgg{
    margin-top: 1%;
    width: 200px;
    
}
.memberimgg1{
    margin-top: 1%;
    width: 200px;
    
}
.name{
    grid-area: name;
    text-align: center;
    font-family: 'Propaganda', sans-serif;
    color: #204BB1;
}
.name1{
    grid-area: name;
    text-align: center;
    font-family: 'Propaganda', sans-serif;
    color: #204BB1;
}

.context{
    grid-area: context;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}
.context1{
    grid-area: context;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

.memberheader{
    grid-area: memberheader;
    background-color: #204bb1;
    font-family: 'Propaganda', sans-serif;
    color: #ffffff;
    text-align:center ;
    margin-top: 5%;
    margin-left: 6%;
    width: 50%;
   
}


.contact{
    grid-area: contact;
    background-color: cornflowerblue;
    display:grid;
    grid-template:
    'collheader '90px
    'socials'20vh
    'msgform'70vh/
    100%;


}
.socials{display: grid;
    
    grid-area: socials;
    grid-auto-flow: column;
    justify-content: space-around;
    align-content: center;
    

   
}
.instagram{
    
    padding-right: 0;
    margin-right: 0;
    display: grid;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    background-color: #ffffff;
  justify-items:center ;
  box-shadow: 1px 2px 10px #000;
  


}
.instagram:hover{
    background-color: #204bb1;
    border: none;
    
    box-shadow: 0px 5px 10px #000;
}
.instagram h1{
    font-family: 'Propaganda', sans-serif;
    font-size: 15px;
    color: #EE4B5C;
    text-align: center;
    
}
.instagram a{
   
    display:inline-block;
    
}
.link{
    display: inline-block;
    justify-self: center;
    width: 50px;
    
    
}
.ig{
    width: 100%;
    justify-self: center;
    align-content: center;
}
.discord{
    padding-right: 0;
    margin-right: 0;
    display: grid;
    border: none;
    border-radius: 20px;
    padding: 15px 28px;
    background-color: #ffffff;
  justify-items:center ;
  box-shadow: 1px 2px 10px #000;

}
.discord:hover{
    background-color: #204bb1;
    border: none;
    
    box-shadow: 0px 5px 10px #000;
}
.discord h1{
    font-family: 'Propaganda', sans-serif;
    font-size: 15px;
    color: #EE4B5C;
    text-align: center;
}
.telegram{
    padding-right: 0;
    margin-right: 0;
    display: grid;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    background-color: #ffffff;
  justify-items:center ;
  box-shadow: 1px 2px 10px #000;
}
.telegram:hover{
    background-color: #204bb1;
    border: none;
    
    box-shadow: 0px 5px 10px #000;
}
.telegram h1{
    font-family: 'Propaganda', sans-serif;
    font-size: 15px;
    color: #EE4B5C;
    text-align: center;
}
.socialsbtn{
    height: 30%;
    width: 40%;
    grid-area: socialbtn;
}


.msgform{
    grid-area: msgform;
    background-color: cornflowerblue;
    display: grid;
  align-content: center;
  
}
form{
    
    background-color: #ffffff;
    display: grid;
    gap:10px;
     width: 60%;
     border:solid;
     border-radius: 10px;
     padding: 2%;
     height: 60vh;
     justify-self: center;
     text-align: center;
     box-shadow: 0px 4px 8px #000;

   
}
form:hover{
    box-shadow: 0px 10px 30px #000;
    
}
.formh1{
    font-size: 20px;
    font-family: 'Propaganda', sans-serif;
}
::placeholder{
    font-family:'Propaganda', sans-serif; 
}

.subi{
    width: 20%;
    height: 60%;
    justify-self: center;
    font-family:'Propaganda', sans-serif;  
    border-radius: 20px;
    background-color: cornflowerblue;
    cursor: pointer;
    border: none;
    
    
}
.subi:hover{
    background-color: rgb(120, 164, 247);
    box-shadow: 1px 3px 5px rgb(88, 129, 204);
}
#message{
    border: none;
    border-bottom:1px solid rgb(230, 230, 230);
    height: 200px
}

.footer{
 grid-area: footer;
 background-color: rgb(0, 0, 0);
 display: grid;
 grid-auto-flow: column;
 filter: blur(0.8px);

 
 
}
.footertxt{
    padding-top: 3%;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-family: sans-serif;
}


/* signup page  style section */
.signbody{
    display: grid;
    grid-template: 
    'signheader'10vh
    'signmain'90vh/
    100%
    
    ;

}
.signheader{
    grid-area: signheader;
    width: 100%;
    background-color: #05176D;
    background: linear-gradient(90deg, rgba(131,43,179,1) 0%, rgba(81,40,157,1) 50%, rgba(62,44,166,1) 100%);
    display: grid;
    grid-auto-flow: column;
    filter: blur(0.5px);
}
.signlogo{
    font-family: 'Propaganda', sans-serif;
    color: #ffff;
    font-size: 40px;
    padding-left: 10%;
}
.signheader ul{
    padding-top:3% ;
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
}
.signheader li a{
    color: #ffff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family:'Propaganda', sans-serif; 
}
.signheader li a:hover{
    
    color: rgb(153, 148, 148);
}


.signmain{
    grid-area: signmain;
    background-image: url(./assets/dark-blue-abstract-background-blue-lines-background-material-design-stylish-blue-background-besthqwallpapers.com-1600x1200.jpg);
    display: grid;
}
.signmain form{
    width: 600px;
    height: 600px;
    padding: 6%;
}
.container{
    width: 50%;
    height: 100%;
    
    
}
.formular{
    margin-top: 2%;
    margin-left: 10%;
  justify-self: center;
  width: 50%;
  height: 90%;

    
    
}
label{
    font-family:'Propaganda', sans-serif; 
}
.titulli h1{
    font-family:'Propaganda', sans-serif; 
    color: #472CAD;
    font-size: 30px;
}
.subif{
    background-color: #05176D;
    border-radius: 20px;
    border: none;
    background: linear-gradient(90deg, rgba(131,43,179,1) 0%, rgba(81,40,157,1) 50%, rgba(62,44,166,1) 100%);
    width: 50%;
    justify-self: center;
    cursor: pointer;
    color: #ffffff;
    font-family:'Propaganda', sans-serif; 
}
.subif:hover{
    box-shadow: 0px 10px 20px #000;
}
.btntext{
    color: #ffffff;
    font-family:'Propaganda', sans-serif; 
}

/* thank you page style */
.ty{
    display: grid;
    grid-template:
    'tymain'100vh/
    100%
    
}

.tymain{
    grid-area: tymain;
    background-color: rgb(255, 255, 255);
   
    

}
.confirmsvg{
    width: 15%;
    display: block;
    margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.typaragraph{
    grid-area: typaraghraph;
    text-align: center;
    margin-top: 2%;
    font-family:'Propaganda', sans-serif; 
    font-size: 20px;

}

.tybuttonchild{
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 7%;
    border: none;
    border-radius: 10px;
    background-color: #00A912;
    color: #ffffff;
    font-family: 'Propaganda', sans-serif; ;
    font-size: 15px;
    box-shadow: 0px 10px 20px #000;
}
.tybuttonchild:hover{
    background-color: #0fb920;
}